@charset "UTF-8";
/**FONTS**/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");
/** GENERAL SETTINGS **/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fcfcfc;
}

h1 {
  font-size: 32px;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 1.5rem;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/**INPUT**/
input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  margin-right: 1rem;
  width: 600px;
}

/**HEADER**/
.header {
  width: 100%;
  height: 700px;
  margin-bottom: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header .button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
}
.header .button-wrapper button {
  margin: 4rem 4rem 0 0;
}
.header .container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.header .image-wrapper {
  margin-bottom: 2rem;
}
.header .image-wrapper h3 {
  position: relative;
  left: 24rem;
  top: 1rem;
}
.header .search-wrapper h1 {
  margin-bottom: 1rem;
}
.header .search-wrapper input {
  width: 50rem;
}
.header .search-wrapper .search-list .list-wrapper {
  position: relative;
  top: 1rem;
  right: 2rem;
  border: 1px solid black;
  border-radius: 12px;
  padding: 1rem 3rem 3rem 5rem;
  width: 540px;
}
.header .search-wrapper .search-list .list-wrapper .list-item {
  border-bottom: 1px solid #7e7e7e;
}
.header .search-wrapper .search-list .list-wrapper .list-item .city {
  color: #72777a;
  margin-bottom: 1rem;
}
.header .search-wrapper .search-list .list-wrapper .list-item .icon {
  position: relative;
  right: 4rem;
  top: 3.2rem;
  font-size: 2.5rem;
}
.header .search-wrapper .search-list .list-wrapper a {
  position: relative;
  top: 2rem;
  left: 16rem;
  font-size: 1.5rem;
}

/**BUTTON**/
.primary-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem 1rem 2rem;
  border: none;
  border-radius: 0.8rem;
  background-color: #204080;
  color: #fff;
}
.primary-button:hover {
  cursor: pointer;
  background-color: #4f75c2;
}

/**SlIDER**/
.top-news-wrapper {
  width: 100%;
  height: 400px;
}
.top-news-wrapper .top-news-header {
  position: absolute;
}
.top-news-wrapper .top-news-header h1 {
  position: relative;
  bottom: 8rem;
  left: 15rem;
}
.top-news-wrapper .slider-wrapper .slider-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-news-wrapper .slider-wrapper .slider-content-container .card {
  width: 350px;
  height: 250px;
}
.top-news-wrapper .slider-wrapper .slider-content-container .card .card-title {
  width: 250px;
}
.top-news-wrapper .slider-wrapper .slider-content-container .arrow-right {
  cursor: pointer;
  position: relative;
  font-size: 30px;
  color: #8a8a8a;
  bottom: 2rem;
  right: 0.5rem;
}
.top-news-wrapper .slider-wrapper .slider-content-container .arrow-left {
  cursor: pointer;
  position: relative;
  font-size: 30px;
  color: #8a8a8a;
  bottom: 2rem;
  right: 2rem;
}

/**FOOTER**/
.footer {
  width: 100%;
  height: 360px;
  background-color: #657fb5;
}
.footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}
.footer .footer-content .footer-content-contact {
  width: 350px;
  color: #fff;
}
.footer .footer-content .footer-content-contact .contact-address {
  margin-bottom: 50px;
}

/** DETAİL PAGE**/
.detail-container {
  width: 100%;
  position: relative;
}
.detail-container .detail-header {
  display: flex;
  align-items: center;
  margin: 10px 0 50px;
}
.detail-container .detail-header .logo {
  margin: 0 50px 0 100px;
}
.detail-container .detail-header .logo img {
  width: 150px;
}
.detail-container .detail-header input {
  width: 600px;
  margin-right: 50px;
}
.detail-container .detail-header .form {
  margin-right: 100px;
}
.detail-container .detail-list-wrapper {
  position: relative;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 750px;
  left: 270px;
}
.detail-container .detail-list-wrapper .detail-list-item {
  border-bottom: 1px solid #7e7e7e;
  width: 730px;
}
.detail-container .detail-list-wrapper .detail-list-item .detail-list-item-content {
  display: flex;
}
.detail-container .detail-list-wrapper .detail-list-item .detail-list-item-content .icon {
  position: relative;
  top: 10px;
  margin-right: 10px;
  font-size: 25px;
}
.detail-container .detail-list-wrapper .detail-list-item .detail-list-item-content .city {
  color: #72777a;
}
.detail-container .detail-list-wrapper .detail-list-item .detail-list-item-wrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.detail-container .detail-list-wrapper .detail-list-item:hover {
  background-color: #d8e0f0;
  border-radius: 5px;
  cursor: pointer;
}
.detail-container .detail-list-wrapper .detail-list-item .detail-list-item-content-item {
  width: 140px;
}
.detail-container .dropdown-menu button {
  position: relative;
  left: 110rem;
  bottom: 2rem;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
}
.detail-container .dropdown-menu button:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}

.paginate-container {
  position: absolute;
  top: 600px;
  left: 451px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: flex;
  font-weight: 700;
  font-size: 14px;
}
.paginate-container .previous-button,
.paginate-container .next-button {
  border: 1px solid #484848;
  border-radius: 3px;
  margin: auto 4px;
  color: #484848;
  align-items: center;
  padding: 2px 14px;
}
.paginate-container .previous-button:hover,
.paginate-container .next-button:hover {
  background-color: #204080;
  color: #fff;
  cursor: pointer;
}
.paginate-container .previous-button.disabled,
.paginate-container .next-button.disabled {
  pointer-events: none;
}
.paginate-container .previous-button.disabled .previous-button,
.paginate-container .previous-button.disabled .next-button,
.paginate-container .next-button.disabled .previous-button,
.paginate-container .next-button.disabled .next-button {
  border: 0.12em solid rgba(0, 0, 0, 0.43);
}
.paginate-container .pagination-item {
  border: 1px solid #484848;
  border-radius: 3px;
  margin: auto 4px;
  color: #484848;
  padding: 2px 7px;
  align-items: center;
}
.paginate-container .pagination-item:hover {
  background-color: #204080;
  color: #fff;
  cursor: pointer;
}
.paginate-container .pagination-item.selected {
  background-color: #204080;
  color: #fff;
}

/**Add New**/
.add-new-container {
  position: relative;
}
.add-new-container .input-header {
  display: flex;
  align-items: center;
  margin: 20px;
}
.add-new-container .input-header img {
  width: 180px;
  margin-right: 30px;
}
.add-new-container .input-header .return-page .return-button-container {
  display: flex;
  align-items: center;
  font-size: 4rem;
}
.add-new-container .input-header .return-page .return-button-container p {
  font-weight: 700;
  font-size: 24px;
  margin-left: 5px;
}
.add-new-container .input-container {
  position: relative;
  width: 100%;
}
.add-new-container .input-container .input-content-container {
  position: absolute;
  left: 228px;
  margin-top: 50px;
}
.add-new-container .input-container .input-content-container .input-items {
  margin: 5px 0 30px 0;
}
.add-new-container .input-container .input-content-container .input-items input {
  padding: 10px;
  border-radius: 12px;
}
.add-new-container .input-container .input-content-container label {
  color: #686868;
  font-weight: 700;
  font-size: 15px;
}
.add-new-container .input-container .input-content-container .button-container {
  display: flex;
  justify-content: end;
}
.add-new-container .input-container .input-content-container .button-container button {
  width: 100px;
  padding: 10px 20px;
}
.add-new-container .error-container {
  position: absolute;
  top: 580px;
  left: 1100px;
  padding: 5px;
}

/** Errors **/
.error-wrapper {
  width: 300px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  height: 100px;
  background-color: #c4c4c4;
  padding: 10px;
}
.error-wrapper .cancel-button {
  font-size: 20px;
}
.error-wrapper .cancel-button .times {
  position: relative;
  left: 250px;
}
.error-wrapper .cancel-button .times:hover {
  color: #ff4e78;
  cursor: pointer;
}
.error-wrapper .error-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.error-wrapper .error-body .error {
  border: 1px solid #ff4e78;
  background-color: #ff4e78;
  border-radius: 8px;
  padding: 8px;
  color: white;
}

.inactive {
  background-color: #4f75c2;
}

/**Dropdown**/
.card-wrapper {
  position: absolute;
  left: 110rem;
  border: 1px solid #8F8F8F;
  padding: 10px;
  border-radius: 5px;
  width: 150px;
  height: 140px;
  background-color: white;
}
.card-wrapper .card-list {
  font-size: 14px;
  font-weight: 500;
}
.card-wrapper .card-list .card-item {
  margin-bottom: 5px;
  padding: 5px;
  width: 130px;
}
.card-wrapper .card-list .card-item:hover {
  color: white;
  background-color: #b3b3b3;
  border-radius: 5px;
  cursor: pointer;
}
.card-wrapper .card-list .card-item.active {
  color: white;
  background-color: #b3b3b3;
  border-radius: 5px;
}/*# sourceMappingURL=styles.css.map */